
<section data-id="{{restaurant.id}}" data-name="{{restaurant.name}}" data-city="{{restaurant.city}}">
  <button class='btn btn-sm btn-outline-dark update-restaurant'>Edit Restaurant</button>
  <button class='btn btn-sm btn-outline-dark delete-restaurant' data-id="{{restaurant.id}}">delete</button>

  <h3 class="restauarant-name">
    {{restaurant.name}}
  </h3>
  <h6>city:</h6>
  <p>
    {{#if restaurant.city}}
      {{restaurant.city}}
    {{else}}
      No city provided.
    {{/if}}
  </p>
  <p>
    restaurant id: {{restaurant.id}}
  </p>






  <form class="update-restaurant-form hidden" id="restaurant-{{restaurant.id}}">
      <input class="restaurant-rename" required type="text" name="restaurant[name]" placeholder="new restaurant name"/>
      <input class="city-rename" required type="text" name="restaurant[city]" placeholder="new restaurant city"/>
      <input type="submit" value="edit" class="btn btn-sm btn-outline-dark margin-top-5 bare-button">
  </form>
  <button class='btn btn-outline-dark create-food'>add a dish</button>
  <form class="create-food-form hidden" id="restaurantfood-{{restaurant.id}}">
      <input class="food-name" type="text" name="food[name]" placeholder="new dish"/>
      <input class="notes" type="text" name="food[notes]" placeholder="what'd you think?"/>
      <input class="rest-id" type="integer" name="food[restaurant_id]" value="{{restaurant.id}}" readonly/>
      <input type="submit" value="create" class="btn btn-sm btn-outline-dark margin-top-5 bare-button">
  </form>


{{#if restaurant.foods}}
{{#each restaurant.foods as |food|}}

<div class="card dish-list" data-food-id="{{food.id}}" data-food-name="{{food.name}}" data-food-notes="{{food.notes}}">
<ul class="list-group list-group-flush">
  <li class="list-group-item"><h6>dish:</h6> {{food.name}}</li>
  <li class="list-group-item"><h6>notes:</h6> {{food.notes}}</li>
</ul>
<button class='btn btn-sm btn-outline-dark update-dish'>Edit Dish</button>

<form class="update-dish-form card hidden" id="food-{{food.id}}">
    <input class="food-rename" required type="text" name="food[name]" placeholder="new food name"/>
    <input class="notes-edit" required type="text" name="food[notes]" placeholder="new food notes"/>
    <input class="rest-id" type="integer" name="food[restaurant_id]" placeholder="restaurant id" readonly/>
    <input type="submit" value="submit" class="btn btn-sm btn-outline-dark margin-top-5 bare-button">
</form>

<button class='btn btn-sm btn-outline-dark delete-food' data-id="{{food.id}}">delete</button>
</div>
{{/each}}
{{/if}}
</section>
