
{{log restaurant}}
<section data-id="{{restaurant.id}}">
  <h6>Name:</h6>
  <h3>
    {{restaurant.name}}
  </h3>
  <h6>City:</h6>
  <p>
    {{#if restaurant.city}}
      {{restaurant.city}}
    {{else}}
      No city provided.
    {{/if}}
  </p>
  <p>
    {{restaurant.id}}
  </p>

  <button class='btn btn-danger delete-restaurant' data-id="{{restaurant.id}}">delete</button>
  <button class='btn btn-outline-info update-restaurant'>Edit Restaurant</button>
  <button class='btn btn-outline-info create-food'>Add a Dish</button>
</section>

{{#if restaurant.foods}}
{{#each restaurant.foods as |food|}}

<div class="card" data-id="{{food.id}}" style="width: 18rem;">
<ul class="list-group list-group-flush">
  <li class="list-group-item">Dish: {{food.name}}</li>
  <li class="list-group-item">Notes: {{food.notes}}</li>
</ul>
<button class='btn btn-outline-info update-dish'>Edit Dish</button>
</div>
{{/each}}
{{/if}}
